<% @product.reviews.each do |review| %>
	<hr>
	<b>Author Name:</b> <%= review.user.first_name  %> <%= review.user.last_name  %> <br>
	<%= review.body  %>
<% end %>

<hr>

<form>
	<textarea class="form-control"></textarea>
	<button class="btn btn-primary">Submit</button>
</form>
