<div id="reviews">
	<% @product.reviews.each do |review| %>
		<hr>
		<b>Author Name:</b> <%= review.user.first_name  %> <%= review.user.last_name %><br>
		<%= review.body  %>
	<% end %>
</div>


<hr>

<form id="review_form" onsubmit="return addReview(<%= current_user.to_json %>)">
	<textarea class="form-control" id="review_textarea"></textarea>
	<button class="btn btn-primary">Submit</button>
</form>
